/*A weboldal globális (teljes weboldalra vonatkozó) beállítások*/
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Header - menüsor, felirat*/
header{
    display: flex;
    justify-content: space-between; /*vízszintes elrendezés*/
    align-items: center; /*függőleges elrendezés*/
    padding: 20px 50px; /*top, right, bottom, left*/
    background-color: lightblue;
    box-shadow: 0 1px 8px #ddd;
}
#logo{
    font-size: 1.5rem;
}
header li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
header a{
    text-decoration: none;
    color: #666;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    transition: all 0.3s ease 0s;
}
header a:hover{
    color: #8fb3b0;
}